* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid black;
}
h1 {
    margin-bottom: 15px;
}
header button {
    padding: 10px 20px;
    background-color: darkblue;
    color:white;
}
header button:disabled {
    background-color: lightgrey;
    cursor: no-drop;
}
#container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calendario {
    width: 1050px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

}
#calendario li {
    width: 150px;
    height: 80px;
    padding: 10px;
    border: 1px solid #EDEDED;
}
#calendario li.festa{
    background-color: #FED9A8;
}
