* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F8F9FA;
}
header {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid black;
}
h1 {
    margin-bottom: 15px;
    color: #6A6A6A;
}
header button {
    padding: 10px 20px;
    background-color: #798481;
    color:white;
}
header button:disabled {
    background-color: lightgrey;
    cursor: no-drop;
}
#container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#barra_giorni {
    width: 1050px;
    display: flex;
    justify-content: space-around;
    background-color: #7F7F7F;
    color:white;
    font-size: 20px;
}
#calendario {
    width: 1050px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

}
#calendario li {
    width: 150px;
    height: 95px;
    padding: 10px;
    border: 1px solid #EDEDED;
}
#calendario li.festa{
    background-color: #FED9A8;
}
#calendario li.vuoti{
    background-color: #F2F2F2;
}
